<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tima.code" >

    <application>
        <activity android:name=".views.activitys.MainPageActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.WelcomeActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.LoginActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
    </application>
</manifest>
