<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tima.code" >

    <application>
        <activity android:name=".views.activitys.MainPageActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.WelcomeActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.LoginActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.ReleaseFulltimeActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.ManageFullTimeInfoActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.WalletActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.TradeFlowActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.PaymentMethodActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        <activity android:name=".views.activitys.PutForwardActivity"
            android:theme="@style/BaseAppTheme.NoActionBar"/>
        PutForwardActivity
    </application>
</manifest>
